<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationTestSuite" verbose="0" parallel="methods" thread-count="1">
	<parameter name="browser" value="chrome"></parameter>
	<parameter name="ExplicitWaitTime" value="60"></parameter>
	<test name="Application" preserve-order="true">
		<parameter name="CurrentApplication" value="test"></parameter>
		<classes>
			<class name="com.automation.scripts.AutoScript011L1Email"/>
			<!-- <class name="com.automation.scripts.Test2"/> -->
		</classes>
	</test>
</suite>